<%= form_with(model: training) do |form| %>
  <% if training.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(training.errors.count, "ошибка(и)") %> не позволили создать тренировку:</h2>

      <ul>
        <% training.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
