<%= render @training %>

<div>
  <%= link_to "Вернуться к списку тренировок", trainings_path %>
  <p style="color: red">Подтвердите удаление</p>
  <%= button_to "Подтвердить", @training, method: :delete %>
</div>