<%= render @base %>

<div>
  <%= link_to "Вернуться к списку расписаний", work_schedules_path %>
  <p style="color: red">Подтвердите удаление</p>
  <%= button_to "Подтвердить", @base, method: :delete %>
</div>