
<%= render @trainer %>

<div>
  <%= link_to "Вернуться к тренерам", trainers_path %>
  <p style="color: red">Подтвердите удаление</p>
  <%= button_to "Подтвердить", @trainer, method: :delete %>
</div>
